<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Admin</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="imgs/logo-2.jpg" id="icon" alt="User Icon" />
          </div>
      
          <!-- Login Form -->
          <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
              Eletihad pharmacy
          </div>
      
        </div>
      <h2><a style="color: black;" href="resume.html">resume</a></h2>
    
</body>
</html>